.play-video{
    flex-basis: 69%;
}
.play-video iframe{
    width: 100%;
    height: 37vw;
}
.play-video h3{
    margin-top: 10px;
    font-weight: 600;
    font-size: 22px;
}
.play-video-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}
.play-video-info img{
    width: 20px;
    margin-right: 10px;
}
.play-video-info span{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
.play-video hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}
.publisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.publisher div{
    flex: 1;
    line-height: 18px;
}
.publisher img{
    border-radius: 50%;
    width: 40px;
    margin-right: 15px;
}
.publisher div p{
    font-weight: 600;
    font-size: 18px;
    color: #000 ;
}
.publisher div span{
    font-size: 13px;
    color: #5a5a5a;
}
.publisher button{
    background: red;
    color: white;
    padding: 5px 30px;
    border: 0;
    outline: 0;
    border-radius: 15px;
    cursor: pointer;
}
.vid-description{
    padding-left: 55px;
    margin: 15px 0;
    cursor: pointer;
}
.vid-description p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
    text-align: justify;
    padding: 0 20px;
    padding-left: 0;
}
.vid-description button{
    border: 0;
    outline: 0;
    color: red;
    font-size: 12px;
    font-weight: 700;
    background: transparent;
}
.vid-description h4{
    color: #5a5a5a;
    font-size: 14px;
    margin-top: 15px;
}
.comment {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}
.comment img{
    border-radius: 50%;
    margin-right: 15px;
    width: 35px;
}
.comment h3 {
    font-size: 14px;
    margin-bottom: 2px;
}
.comment h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}
.comment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
}
.comment-action img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}
.comment-action span{
    margin-right: 20px;
    color: #5a5a5a;
}
@media (max-width:900px) {
    .play-video{
        flex-basis: 100%;
    }
    .play-video iframe{
        width: 100%;
        height: 50vw;
    }
    .vid-description{
        padding-left: 0;
    }
    .play-video-info span{
        margin-right: 15px;
        margin-left: 0;
        margin-top: 15px;
    }
}