nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}
.menu-icon{
    width: 22px;
    margin-right: 25px;
}
.logo{
    width: 130px;
}
.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}
.nav-middle .search-box input{
    width: 408px;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav-middle .search-box img{
    width: 15px;
    font-weight: 700;
}
.nav-right img{
    width: 25px;
    margin-right: 25px;
}
.nav-right .user-icon{
    border-radius: 50%;
}
@media (max-width: 900px) {
    .menu-icon{
        display: none;
    }
    .nav-right img{
        display: none;
    }
    .nav-right .user-icon{
        display: block;
        width: 30px;
    }
    .logo{
        width: 90px;
    }
    .nav-middle .search-box input{
        width: 100px;
    }
}